<!-- Panel component -->
<div class="panel mt-5">
  <!-- Panel title -->
  <p class="panel-heading is-size-6">Employee Table</p>

  <!-- Panel block -->
  <div class="panel-block">
    <!-- Table component -->
    <table class="table is-striped">
      <!-- Table head -->
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birthdate</th>
          <th>Age</th>
          <th>Skills</th>
          <th></th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        <tr>
          <th>0</th>
          <th>Siegfred</th>
          <th>Balona</th>
          <th>July 31, 1988</th>
          <th>32</th>
          <th>HTML, CSS, JavaScript</th>
          <th>
            <div class="buttons">
              <button class="button is-light is-primary is-small">
                <span class="panel-icon">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                Edit
              </button>
              <button class="button is-light is-danger is-small">
                <span class="panel-icon">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
                Delete
              </button>
            </div>
          </th>
        </tr>

        <tr>
          <th>0</th>
          <th>Siegfred</th>
          <th>Balona</th>
          <th>July 31, 1988</th>
          <th>32</th>
          <th>HTML, CSS, JavaScript</th>
          <th>
            <div class="buttons">
              <button class="button is-light is-primary is-small">
                <span class="panel-icon">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                Edit
              </button>
              <button class="button is-light is-danger is-small">
                <span class="panel-icon">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
                Delete
              </button>
            </div>
          </th>
        </tr>

        <tr>
          <th>0</th>
          <th>Siegfred</th>
          <th>Balona</th>
          <th>July 31, 1988</th>
          <th>32</th>
          <th>HTML, CSS, JavaScript</th>
          <th>
            <div class="buttons">
              <button class="button is-light is-primary is-small">
                <span class="panel-icon">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                Edit
              </button>
              <button class="button is-light is-danger is-small">
                <span class="panel-icon">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
                Delete
              </button>
            </div>
          </th>
        </tr>

        <tr>
          <th>0</th>
          <th>Siegfred</th>
          <th>Balona</th>
          <th>July 31, 1988</th>
          <th>32</th>
          <th>HTML, CSS, JavaScript</th>
          <th>
            <div class="buttons">
              <button class="button is-light is-primary is-small">
                <span class="panel-icon">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                Edit
              </button>
              <button class="button is-light is-danger is-small">
                <span class="panel-icon">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
                Delete
              </button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
