<!-- Panel component -->
<div class="panel mt-5">
  <!-- Panel title -->
  <p class="panel-heading is-size-6">Employee Table</p>

  <!-- Panel block -->
  <div class="panel-block pb-4">
    <!-- Table component -->
    <table class="table is-striped is-fullwidth">
      <!-- Table head -->
      <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birthdate</th>
          <th>Age</th>
          <th>Skills</th>
          <th></th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        <tr *ngFor="let employee of employees">
          <th>{{ employee.firstName }}</th>
          <th>{{ employee.lastName }}</th>
          <th>{{ employee.birthDate | date }}</th>
          <th>{{ getAge(employee.birthDate) }}</th>
          <th>{{ displaySkills(employee.skills) }}</th>
          <th>
            <div class="buttons is-justify-content-flex-end">
              <button
                class="button is-light is-primary is-small"
                (click)="editEmployee(employee)"
              >
                <span class="panel-icon">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                Edit
              </button>
              <button
                class="button is-light is-danger is-small"
                (click)="deleteEmployee(employee)"
              >
                <span class="panel-icon">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
                Delete
              </button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Notification component -->
<div class="notification is-danger is-light" *ngIf="formIsSubmitted">
  <button class="delete"></button>

  <!-- Notification message -->
  <h1 class="title is-size-6 mb-2">Success!</h1>
  <p>Skill has been removed</p>
</div>
