<!-- Panel component -->
<div class="panel mt-5">
  <!-- Panel title -->
  <p class="panel-heading is-size-6">Employee Table</p>

  <!-- Panel block -->
  <div class="panel-block">
    <!-- Table component -->
    <table class="table is-striped">
      <!-- Table head -->
      <thead>
        <tr>
          <th>Id</th>
          <th>Skill Name</th>

          <!-- Generate 21 'th' element -->
          <th *ngFor="let item of thHead"></th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        <tr *ngFor="let item of skills">
          <th>{{ item.id }}</th>
          <th>{{ item.name }}</th>

          <!-- Generate 20 'th' element -->
          <th *ngFor="let number of thBody"></th>

          <th>
            <div class="buttons ml-auto">
              <button class="button is-light is-primary is-small">
                <span class="panel-icon">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                </span>
                Edit
              </button>
              <button class="button is-light is-danger is-small">
                <span class="panel-icon">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
                Delete
              </button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
