<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/employee-form">Create new employee</a>
    <a mat-menu-item routerLink="/skills-form">Create new skill</a>
  </mat-menu>

  <a mat-button routerLink="/employee-table" routerLinkActive="active"
    >Employees</a
  >
  <a mat-button routerLink="/skill-table" routerLinkActive="active">Skills</a>
</mat-toolbar>

<router-outlet></router-outlet>
