<div class="marker"></div>

<nav class="navbar is-link">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item title is-6 is-capitalized pl-4" routerLink="">
        Employee Keeper
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns">
    <!-- Panel column -->
    <div class="column is-one-third">
      <!-- Panel component -->
      <nav class="panel mt-5">
        <!-- Panel title -->
        <p class="panel-heading is-size-6">Menu</p>

        <div class="panel-block grid">
          <aside class="menu mt-4">
            <!-- Employees menu label -->
            <p class="menu-label">Employees</p>

            <ul class="menu-list">
              <!-- Add employee link -->
              <li>
                <a
                  class="menu-link"
                  routerLink="/employee-form"
                  routerLinkActive="is-active"
                >
                  <span>Add employee</span>
                  <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                </a>
              </li>

              <!-- View employee table link -->
              <li>
                <a
                  class="menu-link"
                  routerLink="/employee-table"
                  routerLinkActive="is-active"
                >
                  <span>View employee table</span>
                  <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                </a>
              </li>
            </ul>

            <!-- Skills menu label -->
            <p class="menu-label">Skills</p>

            <ul class="menu-list">
              <!-- Add skill link -->
              <li>
                <a
                  class="menu-link"
                  routerLink="/skill-form"
                  routerLinkActive="is-active"
                >
                  <span>Add skill</span>
                  <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                </a>
              </li>

              <!-- View skill table link -->
              <li>
                <a
                  class="menu-link"
                  routerLink="/skill-table"
                  routerLinkActive="is-active"
                >
                  <span>View skill table</span>
                  <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                </a>
              </li>
            </ul>
          </aside>
        </div>
      </nav>
    </div>

    <!-- Router outlet wrapped in a column -->
    <div class="column">
      <!-- Dynamic router component -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
