<!-- Panel component -->
<div class="panel mt-5">
  <!-- Panel title -->
  <p class="panel-heading is-size-6">Add employee form</p>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <!-- First name text field -->
    <div class="panel-block py-4">
      <app-input
        label="First Name"
        placeholder="John"
        helperText="First name cannot be blank. Example: 'Peter', 'Paul', 'Mary'."
        [control]="employeeForm.get('firstName')"
      ></app-input>
    </div>

    <!-- Last name text field -->
    <div class="panel-block py-4">
      <app-input
        label="Last Name"
        placeholder="Appleseed"
        helperText="Last name cannot be blank. Example: 'Smith', 'Anderson', 'Johnson'."
        [control]="employeeForm.get('lastName')"
      ></app-input>
    </div>

    <!-- Skills text field -->
    <div class="panel-block py-4">
      <app-select
        label="Skills"
        helperText="Skills must be filled out. Example: 'HTML', 'CSS', 'JavaScript'."
        [options]="skills"
        [control]="employeeForm.get('skills')"
      ></app-select>
    </div>

    <!-- Birthdate date picker -->
    <div class="panel-block py-4">
      <app-date-picker
        label="Birthdate"
        helperText="Birthdate cannot be blank. Please input birthdate info."
        [control]="employeeForm.get('birthDate')"
      ></app-date-picker>
    </div>

    <!-- Save button -->
    <div class="panel-block py-5">
      <button
        type="submit"
        class="button is-link is-fullwidth"
        [disabled]="employeeForm.invalid"
      >
        <span class="icon">
          <i class="fas fa-check"></i>
        </span>
        <span>Save</span>
      </button>
    </div>

    <!-- Enable only during debugging -->
    <!-- <div class="panel-block">
      <div>Form contents {{ employeeForm.value | json }}</div>
    </div> -->

    <!-- Enable only during debugging -->
    <!-- <div class="panel-block">
      <div>Form is valid {{ employeeForm.valid }}</div>
    </div> -->

    <!-- Enable only during debugging -->
    <!-- <div class="panel-block">
      <div>Errors around name {{ employeeForm.controls.birthDate.errors | json }}</div>
    </div> -->
  </form>
</div>

<div class="notification is-primary is-light" *ngIf="formIsSubmitted">
  <button class="delete"></button>
  <h1 class="title is-size-6 mb-2">Success!</h1>
  <p>Employee added</p>
</div>
