<app-form>
  <header>
    <h2 class="form-title">Create new skill</h2>
  </header>

  <mat-form-field appearance="fill">
    <mat-label>Skills</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <!-- <mat-chip [selectable]="true" [removable]="true"> HTML </mat-chip>
    <mat-chip [selectable]="true" [removable]="true"> CSS </mat-chip>
    <mat-chip [selectable]="true" [removable]="true"> JS </mat-chip> -->
      <input
        placeholder="Input some skills"
        [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="true"
      />
    </mat-chip-list>
  </mat-form-field>
</app-form>
