<app-form>
  <header>
    <h2 class="form-title">Create new employee</h2>
  </header>

  <mat-form-field appearance="fill">
    <mat-label>Firstname</mat-label>
    <input matInput (input)="setFirstname($event)" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Lastname</mat-label>
    <input matInput (input)="setLastname($event)" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birthdate</mat-label>
    <input
      matInput
      [matDatepicker]="newdate"
      (dateChange)="setBirthdate($event)"
    />

    <!-- Date picker toggle component -->
    <mat-datepicker-toggle matSuffix [for]="newdate"></mat-datepicker-toggle>

    <!-- Date picker component -->
    <mat-datepicker #newdate></mat-datepicker>
  </mat-form-field>
</app-form>
